.u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 191px;
}

.u-section-1 .u-text-1 {
  font-size: 4.5rem;
  text-shadow: 2px -2px 8px rgba(128,128,128,1);
  margin: 60px auto;
}

@media (max-width: 575px) {
  .u-section-1 .u-text-1 {
    font-size: 2.25rem;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 50vw;
}

.u-section-2 .u-tabs-1 {
  min-height: 480px;
  margin: 60px auto 60px 0;
}

.u-section-2 .u-tab-list-1 {
  background-image: none;
}

.u-section-2 .u-tab-link-1 {
  font-size: 1.25rem;
  background-image: none;
  font-weight: 600;
  padding: 10px 25px;
}

.u-section-2 .u-tab-link-2 {
  font-size: 1.25rem;
  background-image: none;
  font-weight: 600;
  padding: 10px 25px;
}

.u-section-2 .u-tab-link-3 {
  font-size: 1.25rem;
  background-image: none;
  font-weight: 600;
  padding: 10px 25px;
}

.u-section-2 .u-tab-pane-1 {
  background-image: none;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px;
}

.u-section-2 .u-image-1 {
  width: 420px;
  height: 367px;
  margin: 0 auto 0 0;
}

.u-section-2 .u-text-1 {
  font-size: 1.5rem;
  margin: -317px 42px 0 480px;
}

.u-section-2 .u-text-2 {
  line-height: 39.6px;
  margin: 0 0 0 1015px;
}

.u-section-2 .u-tab-pane-2 {
  background-image: none;
}

.u-section-2 .u-container-layout-2 {
  padding: 0;
}

.u-section-2 .u-image-2 {
  width: 455px;
  height: 341px;
  margin: 31px 60px 0 auto;
}

.u-section-2 .u-text-3 {
  font-size: 1.375rem;
  margin: -334px 527px 0 55px;
}

.u-section-2 .u-tab-pane-3 {
  background-image: none;
}

.u-section-2 .u-container-layout-3 {
  padding: 0 30px;
}

.u-section-2 .u-text-4 {
  font-size: 1.375rem;
  margin: 82px 60px 0 462px;
}

.u-section-2 .u-image-3 {
  width: 415px;
  height: 263px;
  margin: -210px auto -53px 17px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-tabs-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-text-1 {
    width: auto;
    margin-right: 0;
    margin-left: 451px;
  }

  .u-section-2 .u-text-2 {
    width: auto;
    margin-left: 451px;
  }

  .u-section-2 .u-text-3 {
    margin-right: 382px;
    margin-left: 0;
  }

  .u-section-2 .u-text-4 {
    margin-right: 0;
    margin-left: 322px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-image-1 {
    width: 303px;
    height: 377px;
  }

  .u-section-2 .u-text-1 {
    margin-top: -354px;
    margin-left: 330px;
  }

  .u-section-2 .u-text-2 {
    margin-left: 330px;
  }

  .u-section-2 .u-text-3 {
    margin-right: 162px;
  }

  .u-section-2 .u-text-4 {
    margin-left: 102px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-image-1 {
    width: 178px;
    height: 178px;
  }

  .u-section-2 .u-text-1 {
    margin-top: -154px;
    margin-left: 190px;
  }

  .u-section-2 .u-text-2 {
    margin-left: 190px;
  }

  .u-section-2 .u-text-3 {
    margin-right: 0;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-text-4 {
    margin-left: 0;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-image-1 {
    height: 226px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-text-1 {
    margin-top: 31px;
    margin-left: 0;
  }

  .u-section-2 .u-text-2 {
    margin-top: 14px;
    margin-left: 255px;
  }

  .u-section-2 .u-image-2 {
    width: 340px;
    height: 255px;
    margin-right: 0;
  }

  .u-section-2 .u-text-3 {
    margin-top: -248px;
  }

  .u-section-2 .u-image-3 {
    width: 320px;
    height: 203px;
    margin-left: 0;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 421px;
}

.u-section-3 .u-group-1 {
  width: 800px;
  min-height: 655px;
  background-image: none;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin: -70px auto 54px;
}

.u-section-3 .u-container-layout-1 {
  padding: 40px 60px;
}

.u-section-3 .u-text-1 {
  text-transform: uppercase;
  letter-spacing: 7px;
  margin: 0;
}

.u-section-3 .u-text-2 {
  font-size: 3.75rem;
  margin: 20px 0 0;
}

.u-section-3 .u-text-3 {
  line-height: 1.9;
  font-size: 1.25rem;
  margin: 20px 0 0;
}

@media (max-width: 767px) {
  .u-section-3 .u-group-1 {
    width: 540px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-container-layout-1 {
    padding: 30px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-group-1 {
    min-height: 503px;
    margin-top: -71px;
    margin-bottom: 57px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-3 .u-text-2 {
    font-size: 2.25rem;
  }
}.u-section-4 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url("images/b284b8556949c6701dd12bde0461b63cd64a95dae541ac81dbc1e4ee624f4b008b6c9a00d97fbd8afbf8d818dc553a23f7636fba363389e55f5a27_12801.jpg");
}

.u-section-4 .u-sheet-1 {
  min-height: 314px;
}

.u-section-4 .u-text-1 {
  margin: 115px auto 0;
}

.u-section-4 .u-text-2 {
  margin: 20px 20px 0;
}

.u-section-4 .u-btn-1 {
  text-transform: uppercase;
  background-image: none;
  border-style: solid;
  box-shadow: 2px 2px 8px 0 rgba(128,128,128,1);
  margin: 30px auto 41px;
}

@media (max-width: 1199px) {
  .u-section-4 {
    background-position: 50% 50%;
  }

  .u-section-4 .u-sheet-1 {
    min-height: 259px;
  }

  .u-section-4 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 198px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 149px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 94px;
  }
}.u-section-5 .u-sheet-1 {
  min-height: 389px;
}

.u-section-5 .u-list-1 {
  margin-top: 1px;
  margin-bottom: 1px;
}

.u-section-5 .u-repeater-1 {
  grid-template-columns: calc(33.3333% - 6.66667px) calc(33.3333% - 6.66667px) calc(33.3333% - 6.66667px);
  min-height: 388px;
  grid-gap: 10px 10px;
}

.u-section-5 .u-container-layout-1 {
  padding: 30px;
}

.u-section-5 .u-icon-1 {
  height: 80px;
  width: 80px;
  background-image: none;
  margin: 0 auto;
}

.u-section-5 .u-text-1 {
  margin: 20px auto 0;
}

.u-section-5 .u-btn-1 {
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  border-style: none;
  margin: 17px auto 0;
  padding: 0;
}

.u-section-5 .u-btn-2 {
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  border-style: none;
  margin: 17px auto 0;
  padding: 0;
}

.u-section-5 .u-btn-3 {
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  border-style: none;
  margin: 17px auto 0;
  padding: 0;
}

.u-section-5 .u-btn-4 {
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  border-style: none;
  margin: -22px auto 0;
  padding: 0;
}

.u-section-5 .u-btn-5 {
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  border-style: none;
  margin: 20px auto 0;
  padding: 0;
}

.u-section-5 .u-btn-6 {
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  border-style: none;
  margin: -22px auto 0;
  padding: 0;
}

.u-section-5 .u-btn-7 {
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  border-style: none;
  margin: 20px auto 0;
  padding: 0;
}

.u-section-5 .u-container-layout-2 {
  padding: 30px;
}

.u-section-5 .u-icon-2 {
  height: 80px;
  width: 80px;
  background-image: none;
  color: rgb(0, 0, 0) !important;
  margin: 0 auto;
}

.u-section-5 .u-text-2 {
  margin: 20px auto 0;
}

.u-section-5 .u-btn-8 {
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  border-style: none;
  margin: 17px auto 0;
  padding: 0;
}

.u-section-5 .u-btn-9 {
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  border-style: none;
  margin: 17px auto 0;
  padding: 0;
}

.u-section-5 .u-btn-10 {
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  border-style: none;
  margin: 17px auto 0;
  padding: 0;
}

.u-section-5 .u-btn-11 {
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  border-style: none;
  margin: -22px auto 0;
  padding: 0;
}

.u-section-5 .u-btn-12 {
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  border-style: none;
  margin: 20px auto 0;
  padding: 0;
}

.u-section-5 .u-btn-13 {
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  border-style: none;
  margin: -22px auto 0;
  padding: 0;
}

.u-section-5 .u-btn-14 {
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  border-style: none;
  margin: 20px auto 0;
  padding: 0;
}

.u-section-5 .u-container-layout-3 {
  padding: 30px;
}

.u-section-5 .u-icon-3 {
  height: 80px;
  width: 80px;
  background-image: none;
  color: rgb(17, 17, 17) !important;
  margin: 0 auto;
}

.u-section-5 .u-text-3 {
  margin: 20px auto 0;
}

.u-section-5 .u-btn-15 {
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  border-style: none;
  margin: 17px auto 0;
  padding: 0;
}

.u-section-5 .u-btn-16 {
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  border-style: none;
  margin: 17px auto 0;
  padding: 0;
}

.u-section-5 .u-btn-17 {
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  border-style: none;
  margin: 17px auto 0;
  padding: 0;
}

.u-section-5 .u-btn-18 {
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  border-style: none;
  margin: -22px auto 0;
  padding: 0;
}

.u-section-5 .u-btn-19 {
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  border-style: none;
  margin: 20px auto 0;
  padding: 0;
}

.u-section-5 .u-btn-20 {
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  border-style: none;
  margin: -22px auto 0;
  padding: 0;
}

.u-section-5 .u-btn-21 {
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  border-style: none;
  margin: 20px auto 0;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-5 .u-sheet-1 {
    min-height: 499px;
  }

  .u-section-5 .u-repeater-1 {
    grid-template-columns: repeat(3, calc(33.333333333333336% - 6.66667px));
    min-height: 320px;
  }

  .u-section-5 .u-icon-2 {
    color: rgb(219, 84, 90) !important;
  }

  .u-section-5 .u-icon-3 {
    color: rgb(219, 84, 90) !important;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-repeater-1 {
    grid-template-columns: repeat(2, calc(50% - 5.0000025px));
    min-height: 735px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }
}